* {
    background-color: #b8e3ff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    text-align: center;
}

h1 {
    font-size: 55px;
    font-weight: bold;
    padding: 50px 10px 20px 10px;
}

p,
label {
    font-size: 23px;
    padding: 10px;
}

button {
    font-size: 20px;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background-color: #0583d2;
    color: white;
    border-radius: 50px;
    box-shadow: 0px 0px 4px 4px #15668f;
    padding: 15px;
}

/* Add more features later */
button:hover {
    cursor: pointer;
}

button:focus {
    outline-style: solid;
    outline-color: white;
}

.start-button {
    font-size: 35px;
}

.submit-button {
    font-size: 18px;
}

/* Check this later */
.card {
    font-size: 30px;
    font-weight: bold;
    padding: 30px;
}

.quiz section,
.results section,
.player {
    background-color: white;
    padding: 10px;
}

.answer-list .answer,
.submit-button {
    font-size: 23px;
    background: lightblue;
    border: 2px solid grey;
    margin-bottom: 15px;
    border-radius: 15px;
    cursor: pointer;
}

.answer:hover {
    background-color: yellow;
    transition: 0.6s;
}

/* Hide things until clicked on */

.quiz,
.high-scores {
    display: none;
}

/* Would like to style for media query -- will add details later: */
@media screen and (max-width: 992px) {
    * {
        background: cadetblue;
    }
}

@media screen and (max-width: 768px) {
    * {
        background: #61b0b7;
    }
}
  
  @media screen and (max-width: 576px) {
    * {
        background: #16558f;
    }
  }